.solutions {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: -1
}

.solutions__lowerpart {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 70px;
}

.solutions__lowerpart-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.solutions__rightside-imgwrapper {
  flex: 1;
}

.solutions__rightside-imgwrapper img {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 10px 20px;

  gap: 20px;
  flex: 1;
  min-width: 300px;
}

.solutions__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 10px 20px;

  gap: 20px;
  flex: 1;
  min-width: 300px;
  border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
  position: relative;
}

.solutions__card h3 {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;

  color: var(--secondary-color);
}

.card__arrowleft {
  position: absolute;
  top: -5%;
  left: -10%;
  height: 80px
}

.card__arrowright {
  position: absolute;
  top: -20%;
  right: -10%;
  height: 80px;
}



@media screen and (max-width: 1100px) {
  .solutions__lowerpart {
    flex-direction: column;
  }

  .card__arrowright {
    display: none;
  }

  .card__arrowleft {
    display: none;
  }
}